$white: #f8f8f8;
$blue: #008BBF;
$black: #101010;
$purple: #5D2C8F;
$grey: #222;
$light_grey: #aaa;
$teal: #03B3E2;
$orange: #F37021;
$green: #60BB46;
$serif: "museo-slab", serif;
$sans_serif: "soliel", sans-serif;

@mixin ir {
  display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0;
  br { display: none; }
}

@mixin hidden {
  display: none !important; visibility: hidden;
}

@mixin clearfix { 
    *zoom: 1;
    &:before { content: ""; display: table; }
    &:after { content: ""; display: table; clear: both; }
}
@mixin prefix($property, $value){
    -webkit-#{$property}: #{$value};
    -moz-#{$property}:  #{$value};
    -ms-#{$property}:  #{$value};
    -o-#{$property}:  #{$value};
    #{$property}: #{$value};
}

@mixin animate_slow { 
    @include prefix(transition, all 600ms cubic-bezier(0, 0.82, 1, 0.77))
}

@mixin animate_fast { 
    @include prefix(transition, all 200ms cubic-bezier(.14,.82,.17,.99))
}

body{
    background-color: rgb(0,0,0);
    position: relative;
    margin: 0;
    padding: 0;
    font-family: $serif;
    color: $white;
}

a{
    font-size: 3em;
    font-style: italic;
    text-decoration: none;
    color: $green;
}

h1, h2, h3{
    font-weight: normal;
    margin: .5em 0;
}

h2{
    font-size: 3em;
    margin: .5em 0;
}

h3{
    font-size: 1.2em;
    font-style: italic;
    color: $grey;
}


.main{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    hgroup{
        margin: 5em auto;
        .warning{
            color: red;
        }
    }
    .banner{
        font-size: 5em;
        color: $white;
        font-family: $serif;
        font-weight: normal;
        margin: 0 auto;
    }
}

section{
    width: 100%;
    margin-bottom: 100px;
}


.properties{
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    input{
        display: inline-block;
    }
}

h4{
    display: inline-block;
}


/* container for slides */
.images {
    
    position:relative;
    height:400px;
    border: 1px solid $white;
    width:100%;
    margin: 0 auto;
    margin:15px;
    cursor:pointer;
    overflow: hidden;
    padding: 0;

    img{
        max-width: 100%;
    }
    @include prefix(border-radius, 4px);
}

/* single slide */
.images div {
    display:none;
    position:absolute;
    top:0;
    left:0;

    font-size:12px;
}

/* header */
.images h3 {
    font-size:22px;
    font-weight:normal;
    margin:0 0 20px 0;
    color:#456;
}

/* tabs (those little circles below slides) */
.slidetabs {
    clear:both;
    margin-left:310px;
}

/* single tab */
.slidetabs a {
    width:8px;
    height:8px;
    float:left;
    margin:3px;
    background:url(/media/img/scrollable/arrow/navigator.png) 0 0 no-repeat;
    display:none;
    font-size:1px;
}

/* mouseover state */
.slidetabs a:hover {
    background-position:0 -8px;
}

/* active state (current page state) */
.slidetabs a.current {
    background-position:0 -16px;
}



/* next */
.forward { background-position: 0 -30px; clear:right; }
.forward:hover { background-position:-30px -30px; }
.forward:active { background-position:-60px -30px; }


/* prev */
.backward:hover { background-position:-30px 0; }
.backward:active { background-position:-60px 0; }

/* disabled navigational button. is not needed when tabs are
   configured with rotate: true */
.disabled {
    visibility:hidden !important;
}
